body {
  background: linen;
  text-align: center;
  margin: 0;
  padding: 0;
}

.screen-background {
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
  border: 1px solid rgba(0, 0, 0, 0.93);
  border-radius: 48px;
  margin: 25px auto;
  height: 625px;
  width: 305px;
  position: relative;
  text-align: center;
}

h1 {
  color: whitesmoke;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px;
  position: relative;
  top: -820px;
}

.city {
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
  top: -850px;
  background: #c1c161;
  color: whitesmoke;
  border-style: none;
  border-radius: 4px;
  width: 183px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 2px 10px;
}

.world-map {
  margin: 0 auto;
  position: relative;
  top: -540px;
  width: 250px;
  opacity: 0.4;
}

.listed-cities {
  position: relative;
  top: 25px;
}

h2 {
  color: whitesmoke;
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
  left: 10px;
  line-height: 5px;
  text-align: left;
}

.cities {
  margin: 0 auto;
  position: relative;
  top: -680px;
  width: 305px;
}

.date {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 5px;
  text-align: left;
  position: relative;
  left: 10px;
  color: #c1c161;
  font-size: 11px;
  text-transform: uppercase;
}

.time {
  color: whitesmoke;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  line-height: 5px;
  position: relative;
  top: -19px;
  right: 10px;
  text-align: right;
}

small {
  font-size: 15px;
}

hr {
  position: relative;
  left: -1px;
  opacity: 0.2;
  width: 305px;
}

a {
  color: #c1c161;
  text-decoration: none;
}

.credit {
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
  top: -535px;
}
