body {
  background: linen;
  text-align: center;
}

.screen-background {
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
  border: 1px solid rgba(0, 0, 0, 0.93);
  border-radius: 48px;
  margin: 25px auto;
  height: 625px;
  width: 305px;
  position: relative;
  top: -5px;
  text-align: center;
}

.world-map {
  margin: 0 auto;
  position: relative;
  top: -600px;
  width: 250px;
  opacity: 0.5;
}

.search-top-bar {
  position: relative;
  top: -625px;
}

.search-city-input {
  background: whitesmoke;
  border-radius: 4px 0 0 4px;
  border-style: none;
  font-family: "Roboto Condensed", sans-serif;
  padding: 5px 10px;
  position: relative;
  left: -5px;
}

.search-city-button {
  background: #c1c161;
  color: whitesmoke;
  margin: 0;
  padding: 5px 10px;
  border-radius: 0 4px 4px 0;
  border-style: none;
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
  left: -10px;
}

.search-city-button:hover {
  background: linen;
  color: #c1c161;
  transition: all 200ms ease-in-out;
}

.current-location-pin {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border-style: none;
  line-height: 0;
  padding: 10px 11px;
  position: relative;
  right: -10px;
}

.current-location-pin:hover {
  background: #c1c161;
  transform: scale(1.5);
  transition: all 200ms ease-in-out;
}

.fa-location-dot {
  color: rgb(63, 61, 61);
}

.city {
  color: whitesmoke;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 50px;
  position: relative;
  top: -750px;
}

.countdown {
  margin: 0 auto;
  width: 100px;
  display: flex;
  position: relative;
  top: -700px;
  left: -64px;
  gap: 10px;
  font-family: sans-serif;
}

.time-section {
  text-align: center;
  font-size: 30px;
}

.time-group {
  display: flex;
  gap: 10px;
}

.time-segment {
  display: block;
  font-size: 30px;
  font-weight: 900;
  width: 30px;
}

.segment-display {
  position: relative;
  height: 100%;
}

.segment-display__top,
.segment-display__bottom {
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 50%;
  position: relative;
}

.segment-display__top {
  line-height: 1.5;
  color: #eee;
  background-color: #111;
  border-radius: 4px 4px 0 0;
}

.segment-display__bottom {
  line-height: 0;
  color: #fff;
  background-color: #333;
  border-radius: 0 0 4px 4px;
}

.segment-overlay {
  position: absolute;
  top: 0;
  perspective: 400px;
  height: 100%;
  width: 30px;
}

.segment-overlay__top,
.segment-overlay__bottom {
  position: absolute;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 50%;
}

.segment-overlay__top {
  top: 0;
  line-height: 1.5;
  color: #fff;
  background-color: #111;
  transform-origin: bottom;
  border-radius: 4px 4px 0 0;
}

.segment-overlay__bottom {
  bottom: 0;
  line-height: 0;
  color: #eee;
  background-color: #333;
  border-top: 1px solid black;
  transform-origin: top;
  border-radius: 0 0 4px 4px;
}

.segment-overlay.flip .segment-overlay__top {
  animation: flip-top 0.8s linear;
}

.segment-overlay.flip .segment-overlay__bottom {
  animation: flip-bottom 0.8s linear;
}

@keyframes flip-top {
  0% {
    transform: rotateX(0deg);
  }
  50%,
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flip-bottom {
  0%,
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
