body {
  background: linen;
  text-align: center;
}

.screen-background {
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
  border: 1px solid rgba(0, 0, 0, 0.93);
  border-radius: 48px;
  margin: 25px auto;
  height: 625px;
  width: 305px;
  position: relative;
  top: -5px;
  text-align: center;
}

.world-map {
  margin: 0 auto;
  position: relative;
  top: -600px;
  width: 250px;
  opacity: 0.5;
}

.search-top-bar {
  position: relative;
  top: -625px;
}

.search-city-input {
  background: whitesmoke;
  border-radius: 4px 0 0 4px;
  border-style: none;
  font-family: "Roboto Condensed", sans-serif;
  padding: 5px 10px;
  position: relative;
  left: -5px;
}

.search-city-button {
  background: #c1c161;
  color: whitesmoke;
  margin: 0;
  padding: 5px 10px;
  border-radius: 0 4px 4px 0;
  border-style: none;
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
  left: -10px;
}

.search-city-button:hover {
  background: linen;
  color: #c1c161;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.current-location-pin {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border-style: none;
  line-height: 0;
  padding: 10px 11px;
  position: relative;
  right: -10px;
}

.current-location-pin:hover {
  background: #c1c161;
  cursor: pointer;
  transform: scale(1.5);
  transition: all 200ms ease-in-out;
}

.fa-location-dot {
  color: rgb(63, 61, 61);
}

.city {
  color: whitesmoke;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 50px;
  position: relative;
  top: -750px;
}

.time-seperator {
  color: whitesmoke;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.time-description {
  color: whitesmoke;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
}

.city-search-history {
  color: whitesmoke;
  font-family: "Roboto Condensed", sans-serif;
  list-style: none;
  position: relative;
  top: -600px;
}

.time-search-history {
  color: whitesmoke;
  font-family: "Roboto Condensed", sans-serif;
  list-style: none;
  position: relative;
  top: -600px;
}

.time-section {
  color: whitesmoke;
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 50px;
  gap: 10px;
  margin: 0 auto;
  position: relative;
  top: -715px;
  left: -50px;
  width: 100px;
}

.select-country {
  color: whitesmoke;
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
  top: -715px;
}

#city {
  border-radius: 4px;
  font-family: "Roboto Condensed", sans-serif;
  margin: 3px;
  padding: 0 10px;
}
